<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starmink Store</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/inicio.css">
</head>
<body>
    <header class="header">
        <div class="header__section">
            <img src="../logo.jpeg" alt=""> 
        </div>
        <div class="header__section">
            <nav class="header__nav">
                <ul class="header__nav-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Álbumes</a></li>
                    <li><a href="#">Ropa</a></li>
                    <li><a href="#">Bombs</a></li>
                    <li><a href="#">Merch oficial</a></li>
                </ul>
            </nav>
        </div>
        <div class="header__section">
            <button>Inicia Sesión</button>
            <button>Regístrate</button> 
        </div>
    </header>
    <main>
        <section>
            <div></div>
            <div></div>
            <div></div> 
        </section>
    </main>
    <footer>
        <p>Starmink Store</p>
    </footer>
</body>
</html>
