<!DOCTYPE html>
<html lang="es">
<head>
<title>Starminks Store - Registro</title>
<link href="https://fonts.googleapis.com/css2?family=Playpen+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../styles/registro.css">
</head>
<body>
  <div class="login-container">
    <div class="logo">
    <img src="../logo.jpeg" alt="Starminks Logo" width="200">
    </div>
    <h2>Crear Cuenta</h2>
    <form>
        <input type="name" placeholder="Introduce tu nombre" required />
        <input type="email" placeholder="Introduce tu correo" required />
        <input type="password" placeholder="Introduce tu contraseña" required />
        <input type="confirm-password" placeholder="Confirma tu contraseña" required />
      <button type="submit">Registrarse</button>
    </form>
</body>
</html>